body {
    background: #fafafa !important;
}

div.container{
    font-family: "Poppins", sans-serif;
    position: absolute;
    width: 80%;
    top: 50px;
    left: 10%;
}

div.about-fixed{
    position: fixed;
    width: 20%;
    height: 460px;
    box-shadow: -7px 5px 65px -10px rgba(78, 78, 78, 0.45);
}

div.about-profile{
    position: absolute;
    width: 100%;
    height: 270px;
}

div.about-me{
    position: absolute;
    text-align: center;
    /*font-size: 15pt;*/
    font-weight: bold;
    top: 300px;
    width: 100%;
    height: 80px;
    border-bottom: 1px dashed #969696;
}

div.email{
  position: relative;
  font-size: 30pt;
  float: right;
}

div.social-icon{
    position: absolute;
    font-size: 15pt;
    top: 380px;
    height: 80px;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    line-height: 80px;
}

div.article{
  background-color: white;
  box-shadow: 15px 5px 65px -10px rgba(78, 78, 78, 0.45);
}

div.blog-title{
  position: relative;
  height: 140px;
  font-size: 20pt;
  padding: 0 20px 0 20px;
  font-weight: bold;
  line-height: 140px;
  vertical-align: middle;
  border-bottom: 1px dashed #969696;
}

div.article-layout{
  padding: 20px 20px 100px 20px;
}


div.article-image{
  padding: 30px 20px 30px 20px;
  text-align: center;
  width: 100%;
}


div.footer{
  box-shadow: -3px 0px 65px 0px rgba(78, 78, 78, 0.45);
  background-image: url("../img/footer_map.jpg");
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 12pt;
  height: 200px;
  text-align: center;
}
ul.footer-ul{
  padding: 0 0 0 0;
}
ul.footer-ul li{
  list-style:none;
  margin:70px 10px 20px 10px;
  display: inline-block;
}

p.article-title{
  font-size: 25pt;
  font-weight: bold;
}

p.information{
  font-size: 12pt;
  font-weight: bolder;
  padding: 10px 0 10px 0;
  color: #a0a0a0;
}

p.context{
  font-size: 12pt;
  line-height: 30px;
  color: #4f4f4f;
}

ul.context li{
  font-size: 12pt;
  line-height: 30px;
  color: #4f4f4f;
}

img.article-image{
  width: 100%;
}

a.read-more{
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  font-size: 14pt;
  color: #2b95f2;
}

a.footer{
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
  text-decoration: none;
  color: black;
}

a.footer:hover{
  color:#2b95f2;
  text-decoration: none;
}

a.footer:focus{
  outline: none;
}

.facebook {
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
   background-color: #3b5998;
   padding: 3px 14px 3px 14px;
   border-radius: 30px;
   margin-right: 10px;
   color: white;
}

.linkedin {
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
   background-color: #0077b5;
   padding: 3px 11px 3px 11px;
   border-radius: 40px;
   margin-right: 10px;
   color: white;
}

.github {
  -webkit-transition-duration: 0.2s;  /* Safari */
  transition-duration: 0.2s;
   background-color: #333333;
   padding: 3px 12px 3px 12px;
   border-radius: 40px;
   color: white;
}

.weibo {
  -webkit-transition-duration: 0.2s;  /* Safari */
  transition-duration: 0.2s;
   background-color: #df2029;
   padding: 3px 10px 3px 10px;
   border-radius: 40px;
   color: white;
}

a.email{
  color: #2b95f2;
}

a.back-home{
  color: #2b95f2;
  text-decoration: none;
}

a.email:focus{
  color: #2b95f2;
}

a.read-more:hover{
  text-decoration: none;
  color: black;
}

a.github:hover, a.linkedin:hover, a.facebook:hover, a.weibo:hover{
  color: white;
  box-shadow: -2px 9px 24px -9px #000000
}

a.github:focus, a.linkedin:focus, a.facebook:focus, a.weibo:focus{
  color: white;
  outline: none;
}

@media all and (max-width: 1100px){
  div.about-fixed{
    position: inherit;
    width: auto;
  }

  div.container{
    position: absolute;
    width: 100%;
    top: 50px;
    left: 0%;
  }

  div.blog-title{
    font-size: 15pt;
  }

  div.email{
    font-size: 23pt;
  }

}

object:focus{
  outline: none;
}